/* Reset de estilo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo geral do corpo e da página */
body {
  background-color: #070707 !important;
}

body,
html {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: rgb(218, 218, 218);
  padding: 0;
}

/* Estilo do cabeçalho */
header {
  width: 100%;
}

/* Estilo dos parágrafos */
p {
  font-size: 1.2em;
}

/* Estilo da seção principal */
#home {
  background-color: #ECECEC;
  padding: 0;
  margin: 0;
}

/* Estilo da seção de camisas */
#camisas,
#carrinho,
#login,
#register,
#checkout {
  margin-top: 100px;
  min-height: 520px;
}


/* Estilo da navegação principal */
#nav-principal {
  padding: 0;
  margin: 0;
  background-color: rgba(15, 15, 15, 0.603);
}

/* Estilo do logo */
#logo {
  margin: 0 5px;
  padding: 0;
  height: 100px;
  width: 80px;
}

/* Estilo do campo de pesquisa */
#pesquisar {
  padding: 0;
  margin: 0;
}

/* Estilo dos itens de navegação ao passar o mouse */
#lista-nav li:hover {
  background-color: rgba(167, 150, 150, 0.192);
  border-radius: 10px;
}

/* Estilo do campo de pesquisa ao focar */
input[type="search"]:focus, input[type="text"]:focus, input[type="password"]:focus {
  outline: none;
  box-shadow: none;
  border-color: #DC3545;
}

/* Estilo do carrossel */
#carousel {
  background: #DC3545 url(/assets/imagens/undefined_image_M.png) no-repeat center;
  height: 510px;
  width: 100%;
  margin-top: 100px;
}

#carousel div {
  width: 300px;
}

/* Estilo dos cartões */
.card {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
  min-height: 259px;
  max-height: 466px;
}

/* Estilo da seção de produto */
#product {
  border: 1px solid #ddd;
  padding: 20px;
}

.product-image {
  max-width: 100%;
  height: auto;
}

.product-price {
  color: #DC3545;
}

.product-discount {
  text-decoration: line-through;
}

.product-rating {
  color: #bba009;
}

/* Estilo da seção de carrinho */
#itens {
  margin: 30px;
  padding: 20px;
  background-color: rgb(252, 252, 252);
}

#finish {
  padding: 50px 0px;
}

/* Estilo da seção de login */
#section-login,
#section-register {
  margin-top: 100px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-control:focus {
  border-color: #DC3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.btn-primary {
  background-color: #DC3545;
  border-color: #DC3545;
}

.btn-primary:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.checkout-container {
  margin-top: 50px;
}


/* Estilo do rodapé */
footer {
  background-color: #121D30;
}

/* Estilo da barra de rolagem */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}